


params {

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

    // Pipeline metadata
    version = false
    help = false

    // Required inputs
    input = false
    metadata = false

    // QC / preprocessing
    filterQ = 20
    downsample = 0
    skip_primer_trim = false
    max_ee = 2
    min_len = 1000
    max_len = 1600

    // Primer sequences
    front_p = 'AGRGTTYGATYMTGGCTCAG'
    adapter_p = 'AAGTCGTAACAAGGTARCY'

    // error model learning
    learn_nbases = 10e6

    // Denoising parameters
    band_size = 16
    homopolymer_gap_penalty = 1
    omegac = 1e-40

    // Chimera Removal parameters
    chimera_method = 'consensus'
    min_parent_fold = 1.0

    // ASV Filtering
    min_asv_total_freq = 0
    min_asv_sample = 0

    // Taxonomy Databases
    download_db = false
    download_targets = null

    silva_dir = "${projectDir}/databases/silva"
    gtdb_dir  = "${projectDir}/databases/gtdb"
    gg2_dir   = "${projectDir}/databases/gg2"

    db_to_prioritize = 'GG2'

    // Output
    outdir = "results"
    publish_dir_mode = "symlink"

    // Resources
    cutadapt_cpu = 16

    // Runtime
    enable_conda = false
    enable_container = false
}

// ----------------------------------------------------------------------------
// Container configuration
// ----------------------------------------------------------------------------
docker {
    enabled = params.enable_container
}

singularity {
    enabled = params.enable_container
    autoMounts = true
}

// ----------------------------------------------------------------------------
// Reports
// ----------------------------------------------------------------------------
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_timeline.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/execution_trace.txt"
}

// ----------------------------------------------------------------------------
// Profiles
// ----------------------------------------------------------------------------
profiles {

    includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

    standard {
        conda {
            useMamba = false
            enabled = true
            createTimeout = '2 h'
            cacheDir = "$HOME/nf_conda/"
        }
        params.enable_conda = true
        params.enable_container = false

        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    conda {
        conda {
            useMamba = false
            enabled = true
            createTimeout = '2 h'
            cacheDir = "$HOME/nf_conda/"
        }
        params.enable_conda = true
        params.enable_container = false

        docker.enabled = false
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
        params.enable_conda = false
        params.enable_container = true

        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/data/users/mkreuzer/.singularity_cache/nf_conda"
        singularity.runOptions = "--bind /data/users/mkreuzer/.singularity_cache/nf_conda:/home/qiime2,/mnt"
        params.enable_container = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false

    }
}

// ----------------------------------------------------------------------------
// Process resources
// ----------------------------------------------------------------------------
process {
    cpus = 8
    memory = 8.GB
    beforeScript = 'mkdir -p ./tmp/'

    withLabel: cpu_def {
        cpus = 4
        memory = 8.GB
    }

    withLabel: cpu8 {
        cpus = 8
        memory = 16.GB
    }

    withLabel: cpu16 {
        cpus = 16
        memory = 32.GB
    }

	withLabel: cpuhigh {
		cpus = 24
		memory = 16.GB
	}

	queue = 'pibu_el8'
	beforeScript = 'mkdir -p ./tmp/'
	executor = 'slurm'
}

// ----------------------------------------------------------------------------
// Executor
// ----------------------------------------------------------------------------
executor {
    name = 'slurm'
}

// ----------------------------------------------------------------------------
// Environment
// ----------------------------------------------------------------------------
env {
    TMPDIR = './tmp/'
}

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/sarek custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

